<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">
<head>
  <title>회원 정보 수정</title>
  <link rel="stylesheet" th:href="@{/css/user/admin-user.css}">
</head>
<body>
<div layout:fragment="content" class="content-body">
  <div class="edit-form-container">
    <form th:action="@{/admin/users/edit}" th:object="${user}" method="post">
      <input type="hidden" th:field="*{userNum}">

      <div class="form-group">
        <label>아이디 (변경불가)</label>
        <input type="text" th:field="*{userId}" readonly>
      </div>

      <div class="form-group">
        <label>이름</label>
        <input type="text" th:field="*{userName}">
      </div>

      <div class="form-group checkbox-group">
        <label>계정 활성화</label>
        <input type="checkbox" th:field="*{enabled}">
      </div>

      <div class="btn-area">
        <button type="submit" class="btn btn-primary">수정 완료</button>
        <a th:href="@{/admin/users}" class="btn btn-secondary">취소</a>
      </div>
    </form>
  </div>
</div>
</body>
</html>