<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}"> <head>
    <title>회원 관리</title>
</head>
<body>
<h2 layout:fragment="pageTitle">회원 정보 관리</h2>

<div layout:fragment="content">
    <table border="1">
        <thead>
        <tr>
            <th>유저번호</th>
            <th>아이디</th>
            <th>이름</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.userNum}"></td>
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>