<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.road_friends.everycar.reservation.mapper.APIReservationMapper">
    <!-- 예약 가능 차량 조회 -->
    <select id="getAvailableCars" resultMap="resultMap">
        SELECT
        c.car_id,
        c.model_id,
        c.car_category,
        c.car_status,
        c.car_year,
        c.car_fuel,
        c.car_grade,
        c.car_options,
        c.rental_station,
        m.model_brand,
        m.model_name,
        m.model_category,
        m.model_seate_num,
        m.model_transmission,
        m.model_amount_hour,
        m.model_amount_day,
        p.parking_name,
        p.parking_address,
        p.parking_latitude,
        p.parking_longitude
        FROM
        car c
        JOIN
        model m ON c.model_id = m.model_id
        JOIN
        parking p ON c.rental_station = p.parking_id
        WHERE
        c.car_status = 0
        AND c.rental_station = #{parkingId}
        AND c.car_id NOT IN (
        SELECT
        fr.car_id
        FROM
        fast_reservation fr
        WHERE
        fr.rental_state IN (0, 1)
        AND (
        (fr.rental_datetime BETWEEN #{rentalDatetime} AND #{returnDatetime})
        OR (fr.return_datetime BETWEEN #{rentalDatetime} AND #{returnDatetime})
        OR (#{rentalDatetime} BETWEEN fr.rental_datetime AND fr.return_datetime)
        OR (#{returnDatetime} BETWEEN fr.rental_datetime AND fr.return_datetime)
        )
        );
    </select>

    <select id="getCarById" resultMap="resultMap">
        SELECT
            c.car_id, c.model_id, c.car_year, c.car_fuel, c.car_grade, c.car_options, c.rental_station,
            m.model_id, m.model_brand, m.model_name, m.model_category,
            m.model_amount_hour, m.model_amount_day,
            m.model_seate_num, m.model_transmission,
            p.parking_id, p.parking_name, p.parking_address, p.parking_latitude, p.parking_longitude
        FROM car c
            JOIN model m ON c.model_id = m.model_id
            JOIN parking p ON c.rental_station = p.parking_id
        WHERE c.car_id = #{carId};
    </select>

    <!--    시간당 요금 조회  -->
    <select id="getAmountHour" >
        SELECT m.model_amount_hour
        FROM car c
        JOIN model m ON c.model_id = m.model_id  -- 차량 모델 정보 조회
        WHERE car_id=#{carId};
    </select>

    <!--    하루당 요금 조회  -->
    <select id="getAmountDay" >
        SELECT m.model_amount_day
        FROM car c
        JOIN model m ON c.model_id = m.model_id  -- 차량 모델 정보 조회
        WHERE car_id=#{carId};
    </select>

    <select id="getAllParkingStation" parameterType="int" resultType="com.road_friends.everycar.reservation.dto.ParkingDTO">
        SELECT p.parking_id, p.parking_name, p.parking_address, p.parking_latitude, p.parking_longitude
        FROM parking p
        JOIN car c ON c.rental_station = p.parking_id
        WHERE
        (CASE
        -- 제주도에서 빌린 경우 → 제주도 주차장만 조회
        WHEN (SELECT p2.parking_district
        FROM parking p2
        JOIN car c2 ON c2.rental_station = p2.parking_id
        WHERE c2.car_id = #{carId}) = '제주도'
        THEN p.parking_district = '제주도'

        -- 제주도 외 지역에서 빌린 경우 → 제주도를 제외한 모든 주차장 조회
        ELSE p.parking_district != '제주도'
        END)
    </select>

    <select id="findContractDetails" resultMap="ContractDetailMap">
        SELECT
        c.car_id, c.car_category, c.car_year, c.car_fuel, c.car_grade,
        m.model_name, m.model_brand, m.model_amount_day, m.model_amount_hour,
        p.parking_id, p.parking_name, p.parking_address,
        u.user_num
        FROM car c
        JOIN model m ON c.model_id = m.model_id
        JOIN parking p ON c.rental_station = p.parking_id
        JOIN user u ON u.user_num = #{userNum}
        WHERE c.car_id = #{carId}
        AND p.parking_id = #{parkingId}
    </select>

    <resultMap id="resultMap" type="com.road_friends.everycar.reservation.dto.CarDTO">
        <id property="carId" column="car_id"/>

        <result property="carCategory" column="car_category"/>
        <result property="carStatus" column="car_status"/>
        <result property="carYear" column="car_year"/>
        <result property="carFuel" column="car_fuel"/>
        <result property="carGrade" column="car_grade"/>
        <result property="carOptions" column="car_options"/>
        <result property="rentalStation" column="rental_station"/>

        <association property="model" javaType="com.road_friends.everycar.reservation.dto.ModelDTO">
            <id property="modelId" column="model_id"/>
            <result property="modelName" column="model_name"/>
            <result property="modelBrand" column="model_brand"/>
            <result property="modelCategory" column="model_category"/>
            <result property="modelSeateNum" column="model_seate_num"/>
            <result property="modelTransmission" column="model_transmission"/>
            <result property="modelAmountHour" column="model_amount_hour"/>
            <result property="modelAmountDay" column="model_amount_day"/>
        </association>

        <!-- 주차장 정보 -->
        <association property="parking" javaType="com.road_friends.everycar.reservation.dto.ParkingDTO">
            <id property="parkingId" column="parking_id"/>
            <result property="parkingName" column="parking_name"/>
            <result property="parkingAddress" column="parking_address"/>
            <result property="parkingLatitude" column="parking_latitude"/>
            <result property="parkingLongitude" column="parking_longitude"/>
        </association>
    </resultMap>

</mapper>