<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.road_friends.everycar.reservation.mapper.FastReservationMapper">
    <!-- 예약 가능 차량 조회 -->
    <select id="getAvailableCars" resultMap="resultMap">
        SELECT
        m.model_id, m.model_name, m.model_brand, m.model_category, m.model_seate_num,
        m.model_transmission, m.model_amount_day, m.model_amount_hour,
        c.car_id, c.car_year, c.car_fuel, c.car_grade, c.car_options, c.rental_station
        FROM
        car c
        JOIN
        model m ON c.model_id = m.model_id  -- 차량 모델 정보 조회
        JOIN
        parking p ON c.rental_station = p.parking_id  -- 차량의 대여 지점(지역) 조회
        WHERE
        p.parking_province = #{province}
        AND p.parking_district = #{district}  -- 선택한 지역 필터링
        AND c.car_status = 0  -- 사용 가능한 차량만

    </select>

    <resultMap id="resultMap" type="com.road_friends.everycar.reservation.dto.CarDTO">
        <id property="carId" column="car_id"/>

        <result property="carCategory" column="car_category"/>
        <result property="carStatus" column="car_status"/>
        <result property="carYear" column="car_year"/>
        <result property="carFuel" column="car_fuel"/>
        <result property="carGrade" column="car_grade"/>
        <result property="carOptions" column="car_options"/>
        <result property="rentalStation" column="rental_station"/>

        <association property="model" javaType="com.road_friends.everycar.reservation.dto.ModelDTO">
            <id property="modelId" column="model_id"/>
            <result property="modelName" column="model_name"/>
            <result property="modelBrand" column="model_brand"/>
            <result property="modelCategory" column="model_category"/>
            <result property="modelSeateNum" column="model_seate_num"/>
            <result property="modelTransmission" column="model_transmission"/>
            <result property="modelAmountHour" column="model_amount_hour"/>
            <result property="modelAmountDay" column="model_amount_day"/>
        </association>
    </resultMap>

</mapper>