<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.road_friends.everycar.mypage.mapper.MypageReservationMapper">

    <select id="selectReservationsByUser" resultType="com.road_friends.everycar.mypage.dto.ReservationResponseDTO">
        SELECT
        r.reservation_id AS reservationId,
        r.payment_id AS paymentId,
        r.rental_date AS rentalDate,
        r.return_date AS returnDate,
        r.total_price AS totalPrice,
        r.status AS status,
        m.model_name AS carName,
        m.model_brand AS brand,
        c.car_fuel AS fuel,
        p.parking_name AS parkingName
        FROM reservations r
        JOIN car c ON r.car_id = c.car_id
        JOIN model m ON c.model_id = m.model_id
        JOIN parking p ON c.rental_station = p.parking_id
        WHERE r.user_num = #{userNum}
        ORDER BY r.created_at desc;
    </select>

</mapper>